body{
    background-color: #1D1919;
    font-family: "Ubuntu", "Arial";
}
.piano-block-white{
    width:98.8vw;
    height: 20vh;
    display: flex;
    flex-direction: row;
    position: absolute;
    left:0.6vw;
    top:75vh;
}
.piano-block-black{
    width:98.8vw;
    height: 20vh;
    display: flex;
    flex-direction: row;
    position: absolute;
    left:0.6vw;
    top:75vh;
}

.piano-key-white{
    box-sizing: border-box;
    width:1.9vw;
    height: 98%;
    background-color: #FFFFFF;
    border: 1px solid black;
    position: relative;
}
.piano-key-invisible-1{
    box-sizing: border-box;
    width:1.3vw;
    height: 70%;
    position: relative;
    border: 1px solid black;
    visibility: hidden;
}
.piano-key-invisible-2{
    box-sizing: border-box;
    width:0.7vw;
    height: 70%;
    position: relative;
    border: 1px solid black;
    visibility: hidden;
}
.piano-key-black{
    box-sizing: border-box;
    width:1.2vw;
    height: 70%;
    background-color: black;
    border: 1px solid black;
}
#falling-notes-space
{
    width: 98.8vw;
    height: 75vh;
    position: absolute;
    left:0.6vw;
    top:0px;
}
.falling-notes-big{
    background-color: #3399ff;
    width:1.9vw;
    border-radius: 10%;
}

.falling-notes-small{
    background-color: #3399ff;
    width:1.2vw;
    border-radius: 10%;
}

header
{
    width: 100%;
    height:5%;
    position: absolute;
    left:0px;
    top:0px;
    background-color: #766F6F;
    z-index: 1;
    opacity: 0.8;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    transition: opacity 0.5s;
}
header:hover
{
    opacity: 1;
}

button
{
    width: 10%;
    height: 100%;
    border: none;
    background-color: white;
    margin:10px;
}

#catalogue
{
    position: absolute;
    top:200px;
    color: white;
    z-index: 2;
    background-color: #766F6F;
    width: 10%;
    padding: 1%;
    visibility: hidden;
}

#catalogue > div
{
    margin: 10%;

}